body{
	background: #efefe1
}

h1, h2, h3{
	color: orange;
}

.sticky{
	position: sticky;
	top: 0;
	background-color: blue;
	border: 2px solid turquoise;
}

a:visited{
	color: orange;
}

h1, h2, h3{
	text-align: center;
}